html, body {
    height: 100%;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

.container {
    background: #efe;
    width: 100%;
    height: 100%;
}

.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: 2px dashed #dde;
    background: #fafaff;
}

textarea:focus {
    background: white;
}

.row {
    height: 100%;
}

.column {
    height: 50%;
    padding: 0.5rem;
}

@media (min-width: 60rem) {
    .column {
        float: left;
        padding: 0.5rem;
        height: 100%;
        width: 50%;
    }
}
