html, body {
    height: 100%;
}

textarea {
    resize: none;
    flex: 1 100%;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #aaa;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

@media all and (min-width: 60rem) {
    textarea {
        flex: 1 auto;
    }
}